table {
    top: -3px;
    padding: 0 10px
}

.avatar {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

@media (max-width: 750px) {
    tr th:nth-child(n+2),
    tr td:nth-child(n+2) {
        display: none;
    }
}
