<mat-card>

    <mat-card-title>Class Resources</mat-card-title>
    <mat-card-subtitle>Provide the required info to create you account</mat-card-subtitle>

    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" type="email">
            <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password" [type]="showPass ? 'text' : 'password'">
            <button mat-icon-button matSuffix (click)="showPass = !showPass" tabindex="-1">
                <mat-icon>{{showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="password2" matInput placeholder="Password Again" [type]="showPass2 ? 'text' : 'password'"
                   [errorStateMatcher]="matcher">
            <button mat-icon-button matSuffix (click)="showPass2 = !showPass2" tabindex="-1">
                <mat-icon>{{showPass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="form.hasError('notSame')">
                Passwords do not match
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="serverError">{{ serverError }}</mat-error>

        <mat-card-footer class="no-account-banner">
            <mat-card-subtitle>
                Already have account? Login <a routerLink="auth/login">here</a>
            </mat-card-subtitle>
        </mat-card-footer>

        <button (click)="signup()" [disabled]="!form.valid" color="primary" mat-raised-button type="submit">
            Signup
        </button>

        <mat-divider></mat-divider>

        <h2 class="headline">Signup With:</h2>

        <div class="provider-buttons">
            <app-provider-button (click)="handleProvider(provider)" *ngFor="let provider of providers"
                                 [provider]="provider" [disabled]="provider != 'google'">
            </app-provider-button>
        </div>
    </form>

</mat-card>
