table {
    padding: 0 10px
}

.flex-center {
    display: flex;
    align-items: center;
    padding: 8px !important;
}

app-file-icon {
    margin-right: 10px;
}

.selected {
    background-color: #e8f0fe;
    color: #1967d2;
}

.list-table .icon {
    position: relative;
}

.list-table .icon mat-checkbox {
    position: absolute;
    visibility: hidden;
    left: 10px;
    top: 10px;
}

.hoverable:hover .icon mat-checkbox,
.selected .icon mat-checkbox{
    visibility: visible;
}

.hoverable:hover .icon app-file-icon,
.selected .icon app-file-icon{
    visibility: hidden;
}

@media (max-width: 750px) {
    tr th:nth-child(n+2),
    tr td:nth-child(n+2) {
        display: none;
    }
}
