<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Class Resources</h1>
    </mat-toolbar>
    <mat-progress-bar *ngIf="this.loader.isLoading" mode="indeterminate"></mat-progress-bar>

    <mat-sidenav-container class="drawer-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" [opened]="!mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/courses" routerLinkActive="active-link">
                    <mat-icon fontSet="material-icons-outlined">book</mat-icon>
                    Courses
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/timetable" routerLinkActive="active-link">
                    <mat-icon fontSet="material-icons-outlined">calendar_today</mat-icon>
                    Timetable
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="active-link">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                    Profile
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
