.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-progress-bar {
    position: fixed;
    top: 59px;
    z-index: 2;
}

@media (max-width: 599px) {
    .mat-progress-bar {
        top: 51px;
    }
}

.toolbar {
    color: #5f6368;
    background: #ffffff;
    border-bottom: 1px solid #dadce0;
}

.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
}

h1.app-name {
    margin-left: 8px;
}

mat-sidenav {
    width: 250px;
}

.drawer-container {
    flex: 1;
    background: #fff;
}

.is-mobile .drawer-container {
    flex: 1 0 auto;
}

.mat-sidenav {
    padding-top: 20px;
    padding-right: 10px;
    border: none;
}

.mat-sidenav .mat-list-item {
    /*height: 40px;*/
    /*font-size: 14px;*/
    border-radius: 0 25px 25px 0;
    color: #202124;
}

.mat-sidenav .mat-list-item .mat-ripple {
    border-radius: 0 25px 25px 0;
}

.mat-sidenav .mat-list-item .mat-icon {
    margin-right: 10px;
    opacity: .7;
}

.mat-sidenav .mat-list-item.active-link {
    color: #1a73e8;
    background: #e8f0fe;
}
