/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f7f9;
}

mat-list-item mat-icon{
    opacity: 0.7;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

paper-toolbar > .title {
    margin-left: 0!important;
}