.toolbar {
    display: flex;
    border-bottom: 1px solid #dadce0;
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: #fff;
    z-index: 3;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 6px 2px;
    display: flex;
    align-items: center;
}

.breadcrumb a {
    font-size: 18px;
    border-radius: 5px;
    line-height: 24px;
    margin: 2px 0;
    padding: 4px 8px 4px;
    color: #3c4043;
    opacity: .8;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.breadcrumb a:hover {
    background-color: #f1f3f4;
}

/*.breadcrumb li:not(:last-of-type):after {*/
/*    content: "\e315";*/
/*    font-family: "Material Icons";*/
/*    font-size: 24px;*/
/*    position: relative;*/
/*    !*top: 5px;*!*/
/*    opacity: .7;*/
/*    margin-right: 2px;*/
/*}*/

.breadcrumb :last-of-type {
    opacity: 1;
}
